body {
  margin: 0;
  padding: 0;
  font-family: franklin-gothic-urw-cond, sans-serif;
}
.desktop-only {
  display: block !important;
}
.mobile-tablet {
  display: none;
}
.container {
  line-height: 1.5;
  overflow-x: hidden;
  direction: inherit;
}

.slider-wrapper {
  height: 55vh;
  width: 100%;
  overflow: hidden;
}

.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
}

* {
  box-sizing: border-box;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 60vh;
}

.carousel-cell img {
  display: block;
}

.flickity-button {
  background: transparent;
}

/* big previous & next buttons */

.flickity-prev-next-button {
  width: 75px;
  height: 75px;
  background: transparent;
}

/* icon color */
.flickity-button {
  background: transparent;
}
.flickity-button-icon {
  fill: #7e828e;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button.previous {
  left: 15%;
}

.flickity-prev-next-button.next {
  right: 15%;
}

.bg-blue {
  background: url("/assets/images/Pattern_Full.png");
  background-repeat: intial;
  object-fit: contain;
  width: 100%;
  min-height: 45vh;
  display: flex;
  width: 100%;
  min-height: 45vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.copy-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 98px;
}

.p-white {
  height: 69px;
  width: 561px;
  color: #ffffff;
  font-size: 20px;
  line-height: 23px;
}

.h1-gold {
  color: #ceaa79;
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 1.35px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
}
.h1-white {
  color: #ffffff;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.35px;
  line-height: 54px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
}

.p-green {
  color: #62bdcb;
  font-size: 20px;
  line-height: 23px;
}

.slider-copy {
  position: relative;
  right: 0;
  bottom: 131px;
}
.slider-copy-2 {
  position: relative;
  right: 0;
  bottom: 185px;
}

.slider-copy-3 {
  position: relative;
  right: 0;
  bottom: 159px;
}
.slider-copy-4 {
  position: relative;
  right: 0;
  bottom: 215px;
}

.slider-copy-5 {
  position: relative;
  right: 0;
  bottom: 165px;
}
.slider-copy-6 {
  position: relative;
  right: 0;
  bottom: 175px;
}

.slider-copy-7 {
  position: relative;
  right: 0;
  bottom: 144px;
}
.slider-copy-8 {
  position: relative;
  right: 0;
  bottom: 144px;
}

.slider-copy-9 {
  position: relative;
  left: 15%;
  bottom: 237px;
}

.slider-copy-10 {
  position: relative;
  right: 0;
  bottom: 160px;
}

.slider-copy-11 {
  position: relative;
  right: 0;
  bottom: 131px;
}

.slider-copy-12 {
  position: relative;
  right: 0;
  bottom: 145px;
}

.p-gold {
  color: #ceaa79;
  font-size: 20px;
  line-height: 23px;
}

footer {
  background: #102b4c;
  min-height: 10vh;
  .footer-container {
    padding: 33px 100px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    align-self: flex-start;
  }
  .icon-container {
    align-self: flex-end;
    margin-left: auto;
  }
  .infocontainer {
    margin-right: auto;
  }
  img {
    padding: 4px;
  }
}
.village {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.offline-container {
  background: #4d96b0;
}
.img-copy-container {
  align-self: baseline;
}

.img-responsive {
  height: auto;
  width: 100%;
  max-width: 530px;
}

.svg-responsive {
  height: auto;
  width: 100%;
}
.flickity-button:focus {
  outline: 0;
  box-shadow: none;
}

.text-overlay {
  position: absolute;
  top: 40px;
  left: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  transform: translate(-50%);
  text-align: center;
}
.hide-mobile-only-phone {
  display: block !important;
}
//tablet media queries
@media (min-width: 768px) and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-tablet {
    display: block;
  }
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  .flickity-prev-next-button.previous {
    left: 1%;
  }

  .flickity-prev-next-button.next {
    right: 1%;
    top: 50%;
  }
  .svg-responsive {
    max-width: 530px;
  }
  .img-copy-container {
    align-self: unset;
  }
  .slider-copy-12 {
    position: relative;
    right: 0;
    bottom: 115px;
  }
  .slider-copy-4 {
    position: relative;
    right: 0;
    bottom: 185px;
  }
  .bg-blue {
    min-height: 33vh;
  }
  .slider-copy-5 {
    position: relative;
    right: 0;
    bottom: 129px;
  }
  .hide-mobile-only-phone {
    display: block !important ;
  }
  .show-tablet-desktop {
    display: block !important;
  }
}
//phone styles
@media (min-width: 320px) and (max-width: 480px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-tablet{
    display: block;
  }
  .show-tablet-desktop {
    display: block !important;
  }
  .img-responsive {
    max-width: 315px;
  }
  .show-tablet-desktop {
    display: none !important;
  }
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 15%;
    width: 60%;
    height: 60%;
  }
  .flickity-prev-next-button.previous {
    left: 20%;
    top: 80%;
  }

  .flickity-prev-next-button.next {
    top: 80%;
    right: 20%;
    transform: translateY(-63%);
  }
  .svg-responsive {
    max-width: 315px;
  }
  .swipe {
    opacity: 0.5;
    color: #7e828e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .hide-mobile-only-phone {
    display: none !important;
  }
  .slider-copy {
    position: relative;
    right: 0;
    bottom: 10px;
  }
  .slider-copy {
    position: relative;
    right: 0;
    bottom: 10px;
  }
  .slider-copy-2 {
    position: relative;
    right: 0;
    bottom: 10px;
  }

  .slider-copy-3 {
    position: relative;
    right: 0;
    bottom: 10px;
  }
  .slider-copy-4 {
    position: relative;
    right: 0;
    bottom: 10px;
  }

  .slider-copy-5 {
    position: relative;
    right: 0;
    bottom: 10px;
  }
  .slider-copy-6 {
    position: relative;
    right: 0;
    bottom: 10px;
  }

  .slider-copy-7 {
    position: relative;
    right: 0;
    bottom: 10px;
  }
  .slider-copy-8 {
    position: relative;
    right: 0;
    bottom: 10px;
  }

  .slider-copy-9 {
    position: relative;
    left: 0;
    bottom: 10px;
  }

  .slider-copy-10 {
    position: relative;
    right: 0;
    bottom: 10px;
  }

  .slider-copy-11 {
    position: relative;
    right: 0;
    bottom: 10px;
  }

  .slider-copy-12 {
    position: relative;
    right: 0;
    bottom: 10px;
  }
  .img-copy-container {
    align-self: normal;
    margin-top: 35px;
    padding: 25px;
  }
  .bg-blue{
    padding: 25px;
  }
  .h1-gold{
    line-height: 54px;
    margin-top: 35px;
  }
  .p-white{
    width: 285px;
  }
  .copy-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 48px;
}
.slider-wrapper {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
}
