body {
  margin: 0;
  padding: 0;
  font-family: franklin-gothic-urw-cond, sans-serif; }

.network-switch {
  display: block; }

.container {
  padding-top: 30px;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  direction: inherit; }

.switch-network {
  display: none; }

.slider-wrapper {
  height: 60vh;
  width: 100%; }

.online-wrapper {
  margin: auto; }

.online-wrapper h2 {
  display: inline;
  background-color: #181e1e;
  font-size: 25px;
  margin: 0;
  padding: 0;
  line-height: 170%; }

.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out; }

.toggle-content.is-visible {
  display: block;
  height: auto; }

* {
  box-sizing: border-box; }

.carousel-cell {
  width: 100%;
  /* full width */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.carousel.is-fullscreen .carousel-cell {
  height: 60vh; }

.carousel-cell img {
  display: block;
  max-height: 60vh; }

.flickity-button {
  background: transparent; }

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 75px;
  height: 64px; }

/* icon color */
.flickity-button-icon {
  fill: #7e828e; }

.flickity-prev-next-button.previous {
  left: 15%; }

.flickity-prev-next-button.next {
  right: 15%; }

.lower-body {
  height: 40vh; }

.bg-blue {
  background: url("/assets/images/Pattern_Full.png");
  background-repeat: intial;
  object-fit: contain;
  width: 100%;
  margin-top: 30px; }

.copy-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40vw;
  margin: auto;
  padding-bottom: 98px; }

.p-white {
  height: 69px;
  width: 561px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 23px; }

.h1-gold {
  color: #ceaa79;
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 1.35px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px; }

.p-green {
  color: #62BDCB;
  font-size: 20px;
  line-height: 23px; }

.slider-copy {
  position: absolute;
  right: 55.8%;
  top: 70%; }

.slider-copy-2 {
  position: absolute;
  right: 56.1%;
  top: 65%; }

.slider-copy-3 {
  position: absolute;
  right: 45.4%;
  top: 65%; }

.slider-copy-4 {
  position: absolute;
  right: 50%;
  top: 57%; }

.slider-copy-5 {
  position: absolute;
  right: 52%;
  top: 62%; }

.slider-copy-6 {
  position: absolute;
  right: 45.8%;
  top: 62%; }

.slider-copy-7 {
  position: absolute;
  right: 53.7%;
  top: 69%; }

.slider-copy-8 {
  position: absolute;
  right: 55.8%;
  top: 68%; }

.slider-copy-9 {
  position: absolute;
  right: 48.3%;
  top: 56%; }

.slider-copy-10 {
  position: absolute;
  right: 54.2%;
  top: 64%; }

.slider-copy-11 {
  position: absolute;
  right: 58.5%;
  top: 70%; }

.slider-copy-12 {
  position: absolute;
  right: 51.6%;
  top: 69%; }

.p-gold {
  color: #ceaa79;
  font-size: 20px;
  line-height: 23px; }

footer {
  background: #102b4c;
  min-height: 10vh; }
  footer .footer-container {
    padding: 33px 100px;
    display: flex;
    justify-content: flex-start;
    width: 100%; }
  footer p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    align-self: flex-start; }
  footer .icon-container {
    align-self: flex-end;
    margin-left: auto; }
  footer .infocontainer {
    margin-right: auto; }
  footer img {
    padding: 4px; }

.village {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.offline-container {
  background: #4d96b0; }
